{% extends "layout.html" %}


{% block content %}

    <h1>Water Demand</h1>
    <div class="mb-10">
        <div class="mb-5" hx-get="/v1/water-consumption/watering-demand" hx-swap="innerHTML" hx-trigger="load">
            <div class="skeleton h-5 w-full"></div>
        </div>
        <p>Adjust the smart watering system to your individual watering needs.
            Your optimal water demand value will depend on the flow rate
            of
            your watering infrastructure, the area that needs to be covered and the associated watering costs.</p>
    </div>

    <h1>Usage over Time</h1>
    <div class="overflow-x-auto" hx-get="/v1/water-consumption/usage" hx-trigger="load"
         hx-swap="innerHTML">
        <div class="flex flex-col gap-8">
            <div class="h-5 skeleton"></div>
            <div class="h-5 skeleton"></div>
            <div class="h-5 skeleton"></div>
            <div class="h-5 skeleton"></div>
            <div class="h-5 skeleton"></div>
            <div class="h-5 skeleton"></div>
            <div class="h-5 skeleton"></div>
            <div class="h-5 skeleton"></div>
        </div>
    </div>

{% endblock %}
